@import url('colors.css');




    .datasummary-container{
        margin: 5% 0%;
        padding: 2% 2% 5% 2%;

        border-radius: 1rem;

        background-color: var(--light-path);
    }
    .reflectionboxsummary-container{
        margin: 5% 0%;
        padding: 2% 2% 5% 2%;

        border-radius: 1rem;

        background-color: var(--light-module2);
    }
    .reflectionboxchartsummary-container{
        margin: 5% 0%;
        padding: 2% 2% 5% 2%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 90vw;
        height: 65vh;

        border-radius: 1rem;

        background-color: var(--light-module2);
    }
    .optionalreflectionsummary-container{
        margin: 5% 0%;
        padding: 2% 2% 5% 2%;

        border-radius: 1rem;

        background-color: var(--light-module2);
    }