@import url('colors.css');

.datasummary-container{
    margin: 5% 0%;
    padding: 2% 2% 5% 2%;

    border-radius: 1rem;

    background-color: var(--light-path);
}
.reflectionboxsummary-container{
    margin: 5% 0%;
    padding: 2% 2% 5% 2%;

    border-radius: 1rem;

    background-color: var(--light-module2);
}

.adminpage-container.active{
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100vw;
    min-height: 100vh;

    z-index: 2;

    transform: translateX(0%);
    
    background-color: var(--light-base);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
    animation: animateRight var(--animation-timing) var(--easing);
}


.Mainpage-login {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 2rem;
    min-width: 100vw;
    min-height: 100vh;
}

.Mainpage-login__title {
    margin: 7rem;
    font-size: 7em;
    
}

.Mainpage-login__buttons {
    display: flex;
    justify-content: space-between; 
    width: 50%;
    margin: 15px;
}
.App-header {
    height: 4rem;
}
.App-header__login {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.Not-signed-in {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 65vh;

    border-radius: 1rem;

    background-color: var(--light-module2);
}
.optionalreflectionsummary-container{
    margin: 5% 0%;
    padding: 2% 2% 5% 2%;

    border-radius: 1rem;

    background-color: var(--light-module2);
}



.Mainpage-login{

}

.Mainpage-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
    .Mainpage-login__buttons{
        width: 58vw;
    }
    .Mainpage-login img{
        margin-top: 15vh;
        width: 175px;
    }
    .Mainpage-login h2{
        font-weight: 400;
        font-size: 47px;
        color: #545454;
        margin: 1rem 0 .2rem 0;
    }
    .Mainpage-login p{
        font-weight: 200;
        font-size: 15px;
        color: #545454;
    }

    .Mainpage-login button{
        margin-top: 1.7rem;
        font-size: .8rem;
        color: #fff;
        
        background-color: #00c4a0;
        transition: all 350ms ease-in-out;
    }

    .Mainpage-login button:hover{
        background-color: #00c424 !important;
        color: #fff !important;
        border: 1px solid #00c424;

        transition: all 350ms ease-in-out;
    }